/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: Arial;
}



/* HEADER */

header{
    background-color: white;
    padding:5px 20px;
    margin-bottom: 50px;
}
header img{
    vertical-align: middle;
}
.logo-text{
    display: inline-block;
    font-size: 45px;
    font-weight: 800;
    vertical-align: middle;
}

/* END HEADER */



/* MAIN */

.container{
    width: 70%;
    margin: auto;
    background-color: white;
}
.container-list{
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 40px;
}

/* Top Buttons */
.buttons-container{
    margin-left: 70px;
    padding: 10px 0px;
    border-bottom: 2px solid #f6f8f9;
}
.buttons{
    border-radius: 5px;
    padding: 10px 20px;
}
.add-task{
    background-color: #45abea; 
    border: 1px solid #45abea;
    color: white;
}
.add-section{
    background-color: white;
    border: 1px solid #c5cbd0;
    color:#c5cbd0;
}

/* Main list */

.main-list, .secondary-list{
    list-style-type: none;
}

.type-of-task{
    color: #444851;
    font-weight: 900;
    font-size: 20px;
    margin-top: 30px;
}

/* Secondary list */
.task-content{
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #444851;
}
.symbol{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
}

.check{
    color: #67c2ac;
    border: 1px solid #67c2ac;
}
.cross{
    color: #eb5a53;
    border: 1px solid #eb5a53;
}

.bg-box{
    color: white;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 50px;
    margin-left: 5px;
}

/* Bg-boxes color background */
.blue{
    background-color: #45abea;
}
.purple{
    background-color: #9c72e4;
}
.green{
    background-color:#64c0a9;
}
.ocher{
    background-color: #f29e33;
}
.pink{
    background-color: #d863a1;
}
.lightgreen{
    background-color: #b0c926;
}

/* END MAIN */
